body {
  background-color: #333333;
  color: #f6f6f6;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.sans-serif {
  font-family: sans-serif;
}

.center {
  padding-top: 110px;
  text-align: center;
}

.center-below {
  margin: auto;
  height: 200px;
  width: 400px;
}

.clock {
  font-size: 10em;
  margin: 0;
}

input[type="text"] {
  height: 40px;
  width: 300px;
  padding: 0 20px;
  background-color: transparent;
  color: #f6f6f6;
  border: none;
  border-bottom: 2px solid #f6f6f6;
  text-align: center;
  font-size: 1.3em;
}

.js-toDoForm > input {
  margin-top: 30px;
  background-color: rgba(246, 246, 246, 0.6);
  color: #222222;
}

.js-toDoList {
  margin-left: 10%;
  font-size: 1.3em;
}

.js-greetings {
  margin: 0;
  text-align: center;
  font-size: 1.9em;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: inline-block;
}

.js-weather {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
